<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Camp</title>
</head>

<body>
    <h1>Add new Camp</h1>
    <form action="/campgrounds" method="POST">
        <div>
            <label for="title">Enter title</label>
            <input type="text" id="title" name="campground[title]">
        </div>
        <div>
            <label for="location">Enter location</label>
            <input type="text" id="location" name="campground[location]">
        </div>
        <button>Submit</button>
    </form>
</body>

</html>